<!-- users/templates/users/edit_profile.html -->

{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load socialaccount %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Редактировать профиль {{ user.username|capfirst }}</h2>
  <div class="row">

<!-- Левая колонка: Аватар -->
<div class="col-md-3">
  <div class="card">
    <div class="card-body text-center">
      <p class="fw-bold">Текущий аватар</p>
      <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/media/avatars/default.png{% endif %}"
           alt="Аватар"
           class="img-fluid rounded-circle mb-3 avatar-frame"
           style="max-width: 200px;">

      <div class="mt-2">

        <!-- Скрытое поле загрузки -->
        {{ form.avatar|add_class:"form-control visually-hidden" }}

        <!-- Кнопка "Изменить фото" -->
        <label for="{{ form.avatar.id_for_label }}" class="btn btn-sm btn-outline-secondary">Изменить фото</label>
      </div>
    </div>
  </div>
</div>

    <!-- Правая колонка -->
    <div class="col-md-9">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Карточка 1 -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3">
              {{ form.username.label_tag }}
              {{ form.username|add_class:"form-control bg-light" }}
            </div>

            <div class="mb-3">
              {{ form.email.label_tag }}
              {{ form.email|add_class:"form-control bg-light" }}
            </div>

            <div class="mb-3">
              <label class="form-label">Контакты</label>
              {{ form.contacts|add_class:"form-control bg-light"|attr:"placeholder:+7 999 123 45 67" }}
            </div>
          </div>
        </div>

        <!-- Карточка 2 -->
        <div class="card mb-4">
          <div class="card-body">
            <label class="form-label">О себе</label>
            {{ form.bio|add_class:"form-control bg-light"|attr:"rows:3" }}
          </div>
        </div>

        <!-- Кнопки -->
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Сохранить изменения</button>
          <a href="{% url 'profile' user.username %}" class="btn btn-primary">Отмена</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const avatarInput = document.getElementById("{{ form.avatar.id_for_label }}");
    if (avatarInput) {
      avatarInput.addEventListener('change', function () {
        const form = document.getElementById('profile-form');
        if (form) {
          form.submit();
        }
      });
    }
  });
</script>
{% endblock %}
