{% extends "base.html" %}
{% load socialaccount %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Вход в аккаунт</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-action flex-grow-1">Войти</button>
    </form>

     <!-- Блок для соц. входа -->
    <div class="social-login">
      <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google">
        <i class="fab fa-google"></i> Быстрая регистрация через Google
      </a>
      <!-- Включите другую ссылку для Telegram, если она вам нужна и функция реализована -->
      <!-- <a href="{% url 'social:begin' 'telegram' %}" class="btn btn-telegram">Вход через Telegram</a> -->
    </div>

    <p class="mt-3">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    <p class="mt-3">
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
</p>

</div>
{% endblock %}
