{% extends "base.html" %}
{% load socialaccount %}  <!-- Добавляем этот тег -->

{% block content %}
  <div class="container">
    <h2>Регистрация нового пользователя</h2>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>

     <!-- Блок для соц. входа -->

    <a href="{% url 'social:begin' 'google-oauth2' %}">Быстрая регистрация  через Google</a><br>
    <!-- <a href="{% url 'social:begin' 'telegram' %}">Вход через Telegram</a> -->



  </div>
{% endblock %}
