{% extends "base.html" %} <!-- Будет искать в templates/base.html -->

{% block title %}Главная - Chatty{% endblock %}

{% block content %}
  <style>
    body {
      opacity: 0;
      transition: opacity 2s ease-in;
    }

    body.fade-in {
      opacity: 1;
    }
  </style>

  <div style="background-color: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 10px;">
      <h1>Добро пожаловать в Chatty Green!</h1>
      <p>Лучший чат для социальных новостей  .</p>
          <a href="{% url 'posts:post_list' %}">
            <button type="submit" class="btn btn-primary">Перейти в чат</button>
          </a>
  </div>

  <script>
    window.addEventListener('load', function () {
      document.body.classList.add('fade-in');
    });
  </script>
{% endblock %}
