{# templates/home.html#}
{% extends "base.html" %}
{% load static %}

{% block title %}Главная - Chatty{% endblock %}

{% block content %}

<!-- Ссылка на стили в home.css -->
<link rel="stylesheet" href="{% static 'css/home.css' %}">

  <!-- Блок приветствия -->
  <div style="background-color: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 10px;">
      <h1 class="welcome-message">
        {% if user.is_authenticated %}
          {{ user.username }}, добро пожаловать в Chatty Green!
        {% else %}
          Добро пожаловать в Chatty Green!
        {% endif %}
      </h1>

      <p class="chat-description">Лучший чат новостей</p>
      <a href="{% url 'posts:post_list' %}">
        <button type="submit" class="btn btn-primary">Перейти в чат</button>
      </a>

  </div>

  <!-- Блок свежих новостей, выводимый под приветствием -->
  <div class="container mt-5">
      <h2 class="news-title">Свежие новости</h2>
      {% if latest_posts %}
        <div class="list-group">
          {% for post in latest_posts %}
          <div class="list-group-item py-3 d-flex gap-3 post-card">
              <div class="w-100">
                  <a href="{% url 'posts:post_detail' post.slug %}" class="h5 fw-bold text-decoration-none text-dark d-block">
                      {{ post.title|default:"(Без заголовка)" }}
                  </a>
                  <p class="text-muted small mb-1">
                      {{ post.created_at|date:"d M Y H:i" }} • {{ post.author.username }}
                  </p>
                  <p class="mb-0">{{ post.text|truncatewords:30 }}</p>
              </div>
              <div class="flex-shrink-0">
                  {% if post.image %}
                  <img src="{{ post.image.url }}" alt="Превью поста" class="rounded" width="100" height="100" style="object-fit: cover;">
                  {% else %}
                  <img src="{% static 'images/default_post.jpg' %}" alt="Без изображения" class="rounded" width="100" height="100" style="object-fit: cover;">
                  {% endif %}
              </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
          <p class="text-center py-4">Пока нет свежих новостей. Пожалуйста, зайдите позже.</p>
      {% endif %}
  </div>

  <script>
    window.addEventListener('load', function () {
      document.body.classList.add('fade-in');
    });
  </script>
{% endblock %}
